In [8]:
import pandas as pd
import numpy as np

### 1.数据读取和基础清洗

In [5]:
df = pd.read_excel("./用电数据.xlsx",header=1)
df.head()

,时间,正向有功电能,A相电流,B相电流,C相电流,A相有功功率,B相有功功率,C相有功功率,视在功率
0,2025-06-01 00:00:00,9215940.0,426.24,445.57,561.91,95.46,99.93,126.97,330.36
1,2025-06-01 01:00:00,9216270.0,393.85,447.48,535.16,88.51,100.62,121.57,320.59
2,2025-06-01 02:00:00,9216579.0,373.90,419.10,519.39,84.60,95.11,118.83,306.91
3,2025-06-01 03:00:00,9216908.0,423.06,480.36,601.83,94.36,107.21,135.10,353.00
4,2025-06-01 04:00:00,9217232.0,390.27,463.63,555.34,87.63,104.43,125.72,331.83

In [34]:
df.columns = ['timestamp', 'active_energy', 'current_A', 'current_B', 'current_C', 
              'power_A', 'power_B', 'power_C', 'apparent_power']

In [24]:
df.head()

,时间,正向有功电能,A相电流,B相电流,C相电流,A相有功功率,B相有功功率,C相有功功率,视在功率
0,2025-06-01 00:00:00,9215940.0,426.24,445.57,561.91,95.46,99.93,126.97,330.36
1,2025-06-01 01:00:00,9216270.0,393.85,447.48,535.16,88.51,100.62,121.57,320.59
2,2025-06-01 02:00:00,9216579.0,373.90,419.10,519.39,84.60,95.11,118.83,306.91
3,2025-06-01 03:00:00,9216908.0,423.06,480.36,601.83,94.36,107.21,135.10,353.00
4,2025-06-01 04:00:00,9217232.0,390.27,463.63,555.34,87.63,104.43,125.72,331.83

In [9]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [12]:
print(df.dtypes)

timestamp         datetime64[ns]
active_energy            float64
current_A                float64
current_B                float64
current_C                float64
power_A                  float64
power_B                  float64
power_C                  float64
apparent_power           float64
dtype: object

### 2.缺失值处理策略

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590 entries, 0 to 589
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp       590 non-null    datetime64[ns]
 1   active_energy   589 non-null    float64
 2   current_A       588 non-null    float64
 3   current_B       589 non-null    float64
 4   current_C       588 non-null    float64
 5   power_A         588 non-null    float64
 6   power_B         588 non-null    float64
 7   power_C         588 non-null    float64
 8   apparent_power  589 non-null    float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 41.6 KB

In [14]:
missing_ratio = df.isnull().mean()
missing_ratio

timestamp         0.000000
active_energy     0.001695
current_A         0.003390
current_B         0.001695
current_C         0.003390
power_A           0.003390
power_B           0.003390
power_C           0.003390
apparent_power    0.001695
dtype: float64

In [17]:
df = df.dropna()

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 577 entries, 0 to 589
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp       577 non-null    datetime64[ns]
 1   active_energy   577 non-null    float64
 2   current_A       577 non-null    float64
 3   current_B       577 non-null    float64
 4   current_C       577 non-null    float64
 5   power_A         577 non-null    float64
 6   power_B         577 non-null    float64
 7   power_C         577 non-null    float64
 8   apparent_power  577 non-null    float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 45.1 KB

### 3. 异常值检测与修正

In [25]:
df.describe()

,正向有功电能,A相电流,B相电流,C相电流,A相有功功率,B相有功功率,C相有功功率,视在功率
count,5.770000e+02,577.000000,577.000000,577.000000,577.000000,577.000000,577.000000,577.000000
mean,9.354457e+06,575.937054,692.488319,808.188856,130.823622,157.313310,183.977071,484.010780
std,7.947110e+04,140.384483,184.305122,203.078550,32.190008,42.118796,46.152094,120.885439
min,9.215940e+06,349.740000,398.860000,487.620000,78.800000,90.530000,111.800000,295.620000
25%,9.284675e+06,453.240000,527.330000,622.530000,102.950000,119.280000,141.560000,373.370000
50%,9.355175e+06,544.960000,649.360000,756.650000,123.780000,147.220000,171.700000,456.450000
75%,9.422905e+06,705.400000,873.180000,1001.960000,160.570000,200.030000,228.590000,598.330000
max,9.492825e+06,924.940000,1093.500000,1245.250000,209.740000,247.660000,282.210000,756.150000

In [27]:
numeric_cols = [
    "A相电流", "B相电流", "C相电流",
    "A相有功功率", "B相有功功率", "C相有功功率",
    "视在功率"
]

In [32]:
for col in numeric_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    df = df[(df[col] >= lower_bound) & (df[col] <= upper_bound)]
original_rows = len(df)
cleaned_rows = len(df)
removed_rows = original_rows - cleaned_rows
print(f"处理前数据行数：{original_rows}")
print(f"处理后数据行数：{cleaned_rows}")
print(f"删除的异常值行数：{removed_rows}")

处理前数据行数：577
处理后数据行数：577
删除的异常值行数：0

### 4.特征工程

In [35]:
# 时间特征衍生
df['hour'] = df['timestamp'].dt.hour
df['is_workday'] = df['timestamp'].dt.dayofweek < 5

# 电气特征计算
df['total_power'] = df[['power_A','power_B','power_C']].sum(axis=1)
df['power_factor'] = df['total_power'] / df['apparent_power']  # 功率因数
df['load_imbalance'] = df[['current_A','current_B','current_C']].std(axis=1)  # 三相不平衡度

# 能耗增量计算
df['energy_delta'] = df['active_energy'].diff().fillna(0)

In [36]:
df.head()

,timestamp,active_energy,current_A,current_B,current_C,power_A,power_B,power_C,apparent_power,hour,is_workday,total_power,power_factor,load_imbalance,energy_delta
0,2025-06-01 00:00:00,9215940.0,426.24,445.57,561.91,95.46,99.93,126.97,330.36,0,False,322.36,0.975784,73.388230,0.0
1,2025-06-01 01:00:00,9216270.0,393.85,447.48,535.16,88.51,100.62,121.57,320.59,1,False,310.70,0.969151,71.335446,330.0
2,2025-06-01 02:00:00,9216579.0,373.90,419.10,519.39,84.60,95.11,118.83,306.91,2,False,298.54,0.972728,74.463038,309.0
3,2025-06-01 03:00:00,9216908.0,423.06,480.36,601.83,94.36,107.21,135.10,353.00,3,False,336.67,0.953739,91.284321,329.0
4,2025-06-01 04:00:00,9217232.0,390.27,463.63,555.34,87.63,104.43,125.72,331.83,4,False,317.78,0.957659,82.704815,324.0

### 5.数据归一化

In [37]:
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()
scaled_cols = ['current_A','current_B','current_C','power_A','power_B','power_C','apparent_power']
df[scaled_cols] = scaler.fit_transform(df[scaled_cols])

In [38]:
df.head()

,timestamp,active_energy,current_A,current_B,current_C,power_A,power_B,power_C,apparent_power,hour,is_workday,total_power,power_factor,load_imbalance,energy_delta
0,2025-06-01 00:00:00,9215940.0,-0.470812,-0.589244,-0.513244,-0.491496,-0.585635,-0.513961,-0.560500,0,False,322.36,0.975784,73.388230,0.0
1,2025-06-01 01:00:00,9216270.0,-0.599262,-0.583721,-0.583744,-0.612114,-0.577090,-0.576008,-0.603930,1,False,310.70,0.969151,71.335446,330.0
2,2025-06-01 02:00:00,9216579.0,-0.678379,-0.665780,-0.625306,-0.679972,-0.645325,-0.607492,-0.664740,2,False,298.54,0.972728,74.463038,309.0
3,2025-06-01 03:00:00,9216908.0,-0.483423,-0.488651,-0.408033,-0.510587,-0.495480,-0.420545,-0.459860,3,False,336.67,0.953739,91.284321,329.0
4,2025-06-01 04:00:00,9217232.0,-0.613460,-0.537025,-0.530559,-0.627386,-0.529907,-0.528324,-0.553965,4,False,317.78,0.957659,82.704815,324.0

### 6.时间序列重采样

In [39]:
df = df.set_index('timestamp').resample('1H').mean().reset_index()
df.head()

,timestamp,active_energy,current_A,current_B,current_C,power_A,power_B,power_C,apparent_power,hour,is_workday,total_power,power_factor,load_imbalance,energy_delta
0,2025-06-01 00:00:00,9215940.0,-0.470812,-0.589244,-0.513244,-0.491496,-0.585635,-0.513961,-0.560500,0.0,0.0,322.36,0.975784,73.388230,0.0
1,2025-06-01 01:00:00,9216270.0,-0.599262,-0.583721,-0.583744,-0.612114,-0.577090,-0.576008,-0.603930,1.0,0.0,310.70,0.969151,71.335446,330.0
2,2025-06-01 02:00:00,9216579.0,-0.678379,-0.665780,-0.625306,-0.679972,-0.645325,-0.607492,-0.664740,2.0,0.0,298.54,0.972728,74.463038,309.0
3,2025-06-01 03:00:00,9216908.0,-0.483423,-0.488651,-0.408033,-0.510587,-0.495480,-0.420545,-0.459860,3.0,0.0,336.67,0.953739,91.284321,329.0
4,2025-06-01 04:00:00,9217232.0,-0.613460,-0.537025,-0.530559,-0.627386,-0.529907,-0.528324,-0.553965,4.0,0.0,317.78,0.957659,82.704815,324.0

In [41]:
df.to_excel("数据处理后的用电数据_可用于建模.xlsx")

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590 entries, 0 to 589
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp       590 non-null    datetime64[ns]
 1   active_energy   577 non-null    float64
 2   current_A       577 non-null    float64
 3   current_B       577 non-null    float64
 4   current_C       577 non-null    float64
 5   power_A         577 non-null    float64
 6   power_B         577 non-null    float64
 7   power_C         577 non-null    float64
 8   apparent_power  577 non-null    float64
 9   hour            577 non-null    float64
 10  is_workday      577 non-null    float64
 11  total_power     577 non-null    float64
 12  power_factor    577 non-null    float64
 13  load_imbalance  577 non-null    float64
 14  energy_delta    577 non-null    float64
dtypes: datetime64[ns](1), float64(14)
memory usage: 69.3 KB